* {box-sizing: border-box}

/* Slideshow container */
[slider] {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  background: black;
  justify-content: center;
  overflow: hidden;
}


[slide]{
  width: auto;
  height: 100%;
  display: none;
}

[slide].active{
  display: flex;
  justify-content: center;
  align-items: center;
}